@import url("./reset.css");

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #F5F5EB;
}

@media (min-width: 320px) and (min-height: 568px) {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		height: 80%;
	}

	.header {
		width: 100%;
	}

	.ball-memes-container {
		display: flex;
		flex-direction: column;
	}

	.img-label {
		display: flex;
		flex-direction: column;
		align-items: center;
	}


	.img-label input {
		display: none;
	}

	.img-meme {
		width: 70%;
		height: 70%;
	}

	.header-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header-container img {
		width: 20px;
		height: 20px;
	}

	hr {
		height: 1px;
		background-color: rgba(128, 128, 128, 0.378);
		margin-top: 5px;
		
	}
}